<mat-card class="card-format" *ngIf="weatherData">
  <mat-card-header>
    <mat-card-title>{{ weatherData.name }}</mat-card-title>
    <mat-card-subtitle>Summary: {{ weatherData.weather[0].main }}</mat-card-subtitle>
    <img [src]="'https://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@2x.png'" alt="Weather Icon">
  </mat-card-header>
  <mat-card-content>
    <p>Temperatura: {{ weatherData.main.temp }}</p>
    <p>Sensação Térmica: {{ weatherData.main.feels_like }}</p>
    <p>Min/Max: {{ weatherData.main.temp_min }}/{{ weatherData.main.temp_max }}</p>
    <p>Pressão: {{ weatherData.main.pressure }}</p>
    <p>Humidade: {{ weatherData.main.humidity }}</p>
  </mat-card-content>
</mat-card>

